<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>Olá {{name}}</p>
    <br>
    <p>Recebemos uma solicitação de redefinição de senha para sua conta de usuário!</p>
    <br>
    <p>Se a solicitação foi realmente sua, clique no link a seguir para daar continuidade no processo</p>

    <p>
        <a href="{{link}}"> Resetar senha</a>
    </p>
    <br>
    <p>Caso não foi sua a solicitação, descarte esse email</p>
    <p>Obrigado!</p>
    <footer>Equipe Mugiwara</footer>
</div>