.form{
    display: flex;
    align-items: center;
}

.form label{
    padding-left: 10px;
    margin-left: 10px;
}

.form input{
    padding-left: 10px;
    margin-left: 10px;
}

.form button{
    padding-left: 10px;
    margin-left: 10px;
}
